[%-
    no_wrapper = 1;
    SET data = {
        count       => results.count || 0,
        pageSize    => results.pager.entries_per_page || c.controller.page_size,
        page        => results.pager.current_page,
        totalPages  => results.pager.last_page
        };
    data.as_json;
-%]

